@import './sources.css';

.item-link{
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 6px -2px;
    position: relative;
    border-bottom:1px solid rgba(187, 185, 185, 0.555);
    margin-bottom: .5em;
}

.item-link:hover > .card{
    color: #000;
    background-color: rgba(0, 0, 0, 0.15);  
}

.item-link .card{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0;
    border: none;
    transition: all .2s ease;
}

.item-link .card .card-body h4{
    font-family: 'Barlow Condensed', sans-serif;
}

.item-link .card .card-body h5{
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif;
}

.item-link .card .card-body span{
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif;
}

.item-link .card .card-img-top{
    width: 100%;
    height: auto;
    border-radius: 0;
}


