@import './sources.css';

a{
    text-decoration: none;
    color: #000;
    position: relative;
    border-bottom:1px solid rgba(187, 185, 185, 0.555);
    margin-bottom: .5em;
}

a:hover{
    color: #000;
}

a .card{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0;
    border: none;
}

a .card .card-body h4{
    font-family: 'Barlow Condensed', sans-serif;
}

a .card .card-body h5{
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif;
}

a .card .card-body span{
    font-size: 1.3em;
    font-family: 'Barlow Condensed', sans-serif;
}

a .card .card-img-top{
    width: 100%;
    height: auto;
    border-radius: 0;
}


