@import './sources.css';

header{
  background-color: #fff;
  box-shadow: 0 4px 2px -2px #dbd8d8;
  position: sticky;
  top: 0;
  z-index: 1;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0 1em 0;
}

header nav a{
 text-decoration: none;
 color: #000;
 border: none;
 margin: 0;
}

header nav a h1{
  font-family: 'Russo One', sans-serif;
  user-select: none;
}

header nav .cart-nav{
  width: 6em;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

header nav .cart-nav .cart{
  display: flex;
  position: relative;
}
header nav .cart-nav a,
header nav .cart-nav .cart a{
  text-decoration: none;
  color: #000;
  border: none;
  margin: 0;
}

header nav .cart-nav a svg,
header nav .cart-nav .cart a svg{
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  transition: all .2s ease;
}

header nav .cart-nav a svg:hover,
header nav .cart-nav .cart a svg:hover{
  fill: #be74e9;
  filter: drop-shadow(0px 0px 15px #954dbf);
}

header nav .cart-nav .cart a svg{
  border-radius: 5px;
}

header nav .cart-nav .cart span{
  display: flex;
  position: absolute;
  bottom: 20px;
  right: -19px;
  justify-content: center;
  align-items: center;
  background-color: #ae67d77a;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  width: 1.5em;
  height: 1.5em;
}

header nav .cart-nav .offcanvas{
  background-color: var(--light-bg-color);
}

header nav .cart-nav .offcanvas .offcanvas-header{
  padding: 1.5em 0;
  background-color: #000;
  color: #fff;
}

header nav .cart-nav .offcanvas .offcanvas-header button{
  background: none;
  border: none;
  position: absolute;
  left: 1em;
  top: .8em;
}

header nav .cart-nav .offcanvas .offcanvas-header button::after{
  content: "\003E";
  color: #fff;
  font-size: 2em;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container{
  padding: 2em 1rem;
  height: 100%;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer{
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card{
  display: flex;
  position: relative;
  justify-content: space-around;
  padding-bottom: 1em;
  border-bottom: 1px solid #00000030;
  margin: 1em 0;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-container{
  display: flex;
  
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-container img{
  width: 23%;
  height: 5.4em;
  object-fit: cover;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-container .item-card-body{
  width: 50%;
  padding-left: .5em;
  font-family: 'Raleway', sans-serif;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-container .item-card-body .item-card-title{
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-container .item-card-body h5{
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .card-product-price{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  padding-right: 1rem;
  font-weight: 600;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card .delete-product{
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease;
}

header nav .cart-nav .offcanvas .offcanvas-body .offcanvas-body-container .cartItemsPrevisualizer .previsualizer-item-card:hover .delete-product {
  opacity: 1;
}


header nav .cart-nav .offcanvas .offcanvas-body .toCartButton{
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .cart-nav .offcanvas .offcanvas-body .toCartButton a{
  width: 70%;
  text-align: center;
  padding: .5em 0;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: #fff;
  transition: background .3s ease;
}

header nav .cart-nav .offcanvas .offcanvas-body .toCartButton a:hover{
  background-color: var(--btn-color-hover);
}

header nav ul{
  display: flex;
  gap: 1em;
}

header nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul li a{
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
  display: inline-block;
  width: 100%;
  border: none;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right, #be74e9, #be74e9);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

header nav ul li .active-link{
  color: #ae67d7af;
}

header nav ul li a:hover, header nav ul li a:hover {
  
  background-size: 100% 2px;
}

header nav ul li .dropdown-container{
  display: flex;
}

header nav ul li .dropdown-container .products-dropdown{
  align-self: center;
}

header nav ul li .dropdown-container .products-dropdown::after{
  content: "\21E9";
  font-size: .9em;
  display: inline-block;
  transition: all .3s ease;
}

header nav ul li .dropdown-container:hover .products-dropdown::after{
  transform: translateY(25px);
}

header nav ul li .dropdown-container .dropdown-menu-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  width: 12.5em;
  padding: 0 1em 0.5em 1em;
  background-color: #fff;
  box-shadow: 0 2px 2px 0px #dbd8d8;
  border: none;
  border-radius: 0 0 5px 5px;
  transform: translateY(-9999px)!important;
  z-index: 2;
}

header nav ul li .dropdown-container:hover .dropdown-menu-container{
  transform: translate(-50px, 30px)!important;
}